services:
  - type: web
    name: jobmail-insight-api
    env: python
    region: oregon
    plan: free
    branch: main
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:create_app()
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: SECRET_KEY
        sync: false
      - key: MONGODB_URI
        sync: false
      - key: REDIRECT_URI
        sync: false
      - key: FRONTEND_URL
        sync: false